/* Legacy browser support */
header, nav, main, footer, aside {
    display: block;
}
/* Define body */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Lucida Sans Unicode", Verdana, Geneva, sans-serif;
}
/* Define layout */
#container, #widecontainer {
    margin-left: auto;
    margin-right: auto;
}
#leftnavigation {
    display: none;
}
#bottomnavigation {
    display: none;
}
aside {
    display: none;
}
/* Define header */
header {
    min-height: 100px;
}
/* Define logo */
#logo {
    width: 290px;
    height: 100px;
    position: absolute;
}
#logobackground {
    width: 285px;
    height: 95px;
    position: absolute;
    text-align: center;
    padding: 0;
    border-bottom: 5px solid #333333;
    border-right: 5px solid #333333;
}
#logoshape {
    width: 85px;
    height: 85px;
    position: absolute;
    border: 1px solid #333333;
    border-radius: 5px 30px;
    margin: 5px;
}
#logotext {
    width: 285px;
    height: 95px;
    position: absolute;
}
#logotext h1 {
    padding-left: 40px;
    color: #333333;
    border-bottom: none;
    font-size: 1.7em;
}
/* Define images and videos */
figure {
    display: none;
}
.skillexample {
    display: initial;
    width: 611px;
    margin: 0 auto;
}
.skillexample img {
    width: 611px;
    height: 369px;
}
.skillexample figcaption {
    text-align: left;
}
.youtubevideo {
    display: none;
}
/* Define headings */
h1 {
    text-align: center;
    color: #333333;
    border-bottom: 5px solid #333333;
    padding-bottom: 5px;
}
h2, h3, h4, h5, h6 {
    color: #333333;
    border-left: 5px solid #333333;
    padding-left: 5px;
}
/* Define paragraph styles */
main p {
    font-size: 1.2em;
}
/* Define list styles */
.listparent {
    font-size: 1.2em;
}
dt {
    font-style: italic;
    font-size: 1.5em;
    page-break-after: avoid;
}
dd {
    font-size: 1.2em; 
    page-break-inside: avoid;
}
/* Define tables */
.stripedtable {
    width: 90%;
    margin: auto;
    border: 5px solid #333333;
    border-spacing: 0
}
.stripedtable caption {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}
.stripedtable td, th {
    border: 1px solid #333333;
    padding: 0.5em;
}
.stripedtable tbody td {
    text-align: center;
}
.stripedtable tbody td:first-of-type {
    text-align: left;
}
.stripedtable tfoot {
    font-weight: bold;
}
.contacttable {
    width: 90%;
    margin-left: 0;
    border-left: 5px solid #333333;
}
.contacttable caption {
    text-align: left;
    padding-bottom: 1em;
}
.contacttable th {
    display: none;
}
/* Define form */
form {
    font-family: "Lucida Console", "Andale Mono", monospace;
    padding: 10px;
}
label {
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
input {
    margin-top: 10px;
    display: block;
}
textarea {
    margin-top: 20px;
    display: block;
}
fieldset {
    margin: 10px 0 10px 160px;
    border-style: none;
    width: 419px;
    padding-top: 10px;
}
input[type=radio], input[type=checkbox] {
    display: inline;
}
#submit {
    margin-left: 160px;
    display: inline;
}
#reset {
    margin-left: 10px;
    display: inline;
}
.backlink {
    display: none;
}
/* Define grid */
#skillsgrid {
    margin: auto;
}
#skillscolumn1, #skillscolumn2 {
    width: 50%;
    margin: 0;
    padding: 0;
} 
#skillscolumn1 {
    float: left;
}
#skillscolumn2 {
    float: right;
}
.skillcard {
    display: initial;
    margin: 0 0 30px 0;
    padding: 0;
}
.skillcard img {
    width: 256px;
    height: 256px;
    margin: 10px 22px;
    padding: 0;
}
.skillcard figcaption {
    text-align: center;
    font-family: "Lucida Console", "Andale Mono", monospace;
    font-size: 1.2em;
    font-weight: bold;
}
/* Define footer */
footer {
    text-align: right;
    clear: both;
    border-right: 5px solid #333333;
    padding-right: 5px;
    margin-right: 10px;
}
#contact h1 {
    border: none;
    text-align: right;
    font-size: 1.2em;
}
#contactdetails {
    line-height: 200%;
    list-style-type: none;
}
.copyrightnotice {
    font-size: 0.8em;
    margin: 0.5em 0;
}